.leadership-section ul {
list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.leadership-section li {
display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-left: 20px;
}

.leadership-section li::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FF8126;
    margin-left: -20px;
}